<script>
	(() => {
		let template = `
			<h2>CSS animation</h2>
			
			<canvas id="canvas"></canvas>

			<link rel="stylesheet" href="/component/style/base.css"/>
			<link rel="stylesheet" href="/component/style/component-overlay.css"/>
			<style>
				#animation {
					width: 200px;
					height: 200px;
				}
			</style>
		`;

		customElements.define('my-animation-property', class myElement extends HTMLElement {
			constructor() {
				super();
				let shadowRoot = this.attachShadow({ mode: 'open' });
				shadowRoot.innerHTML = template;
				
				let canvas = shadowRoot.getElementById('canvas');
				let width = window.getComputedStyle(canvas).width;
				let height = canvas.offsetHeight;
				let ctx = canvas.getContext('2d');
				
				ctx.moveTo(0, 0);
				ctx.lineTo(100, 100);
				ctx.moveTo(100, 0);
				ctx.lineTo(0, 100);
				ctx.stroke()
				ctx.fillStyle = 'green';
			}
		});
	})()
</script>