<script>
	(() => {
		let template = `
			<div>
				<h2>My adjacent sibling selector</h2>
				
				<p>click the checkbox</p>
				
				<span class="sibling">Gianni</span>
				<input type="checkbox" />
				<span class="sibling">Matteo</span>
				<span class="not-sibling">Luca</span>
				<span class="sibling">Francesca</span>
			</div>
			
			<link rel="stylesheet" href="/component/style/base.css"/>
			<link rel="stylesheet" href="/component/style/component-overlay.css"/>
			<style>
				.sibling {
					border: 1px solid orange;
				}
			
				.not-sibling {
					border: 1px solid black;
				}
			
				input[type="checkbox"]:checked + .sibling {
					color: tomato;
				}
			</style>
		`;

		customElements.define('my-adjacent-sibling-selector', class myElement extends HTMLElement {
			constructor() {
				super();
				let shadowRoot = this.attachShadow({ mode: 'open' });
				shadowRoot.innerHTML = template;
			}
		});
	})()
</script>
