<script>
	(() => {
		let template = `
			<div>
				<h2>Form pseudo selector</h2>
				
				
			</div>
			
			<link rel="stylesheet" href="/component/style/base.css"/>
			<link rel="stylesheet" href="/component/style/component-overlay.css"/>
			<style>
				:checked
				:default
				:disabled
				:enabled
				:indeterminate
				:valid
				:invalid
				:optional
				:required
				:in-range
				:out-of-range
			</style>
		`;

		customElements.define('my-form-psuedo-selector', class myElement extends HTMLElement {
			constructor() {
				super();
				let shadowRoot = this.attachShadow({ mode: 'open' });
				shadowRoot.innerHTML = template;
			}
		});
	})()
</script>