<!-- :target does not work inside shadow dom -->

<script>
	(() => {
		let template = `
			<div>
				<!-- <h2>Location pseudo selector</h2> -->
				
				<a href="#location">location-1</a>
				
				<h2 id="location" name="location">title-1</h2>
				
				<p>Note: doesn't work inside web component</p>
			</div>

			<style>
				#location:target {
					animation-duration: 1s;
  					animation-name: target;
				}
				
				@keyframes target {
					0% {
						background-color: yellow;
						color: tomato;
					}
					100% {
						color: initial;
						background-color: transparent;
					}
				}
			</style>
		`;

		customElements.define('my-location-pseudo-selector', class myElement extends HTMLElement {
			constructor() {
				super();
				
				this.innerHTML = template;
				
				// let shadowRoot = this.attachShadow({ mode: 'open' });
				// shadowRoot.innerHTML = template;
			}
		});
	})()
</script>